<mat-toolbar class="header">
  <span class="header-title">Coffe Workshop</span>

  <ul class="header-menu">
    <li>
      <a [routerLink]="['/product/list']" routerLinkActive="router-link-active">Coffees</a>
    </li>
    <li>
      <a [routerLink]="['/product/create']" routerLinkActive="router-link-active"
        >Register Coffee</a
      >
    </li>
  </ul>

  <button
    class="shopping-cart-button"
    matIconButton
    aria-label="Shopping cart"
    [routerLink]="['/cart']"
  >
    <mat-icon>shopping_cart</mat-icon>
    @if (cartService.cartData()?.items?.length) {
      <span class="cart-count-badge">{{ cartService.cartData()?.items?.length }}</span>
    }
  </button>
</mat-toolbar>
